.SearchArea2{
    position: fixed;
    right: 50px;
    top: 400px;
    width: 40%;
    border-radius: 20px;
    box-shadow: 3px 6px 5px 0px rgba(0, 9, 28, 0.73);
    -webkit-box-shadow: 3px 6px 5px 0px rgba(0, 9, 28, 0.73);
    -moz-box-shadow: 3px 6px 5px 0px rgba(0, 9, 28, 0.73);
    margin-bottom: 20px;
    overflow-y: scroll;
    max-height: 400px;
}

